In [13]:
import pymongo
from pymongo import MongoClient

In [14]:
import pandas as pd
import numpy as np

In [15]:
doc_pass = pd.read_excel(".\data\의사 국가시험 최종 합격자.xlsx")
doc_pass

             회차  응시인원   합격자   합격률
0   2020년(제84회)  3210  3025  94.2
1   2019년(제83회)  3307  3115  94.2
2   2018년(제82회)  3373  3204  95.0
3   2017년(제81회)  3336  3095  92.8
4   2016년(제80회)  3323  3106  93.5
5   2015년(제79회)  3392  3125  94.6
6   2014년(제78회)  3412  3200  93.8
7   2013년(제77회)  3287  3032  92.2
8   2012년(제76회)  3446  3208  93.1
9   2011년(제75회)  3376  3095  91.7
10  2010년(제74회)  3469  3224  92.9
11  2009년(제73회)  3750  3510  93.6
12  2008년(제72회)  4028  3887  96.5
13  2007년(제71회)  3735  3305  88.5
14  2006년(제70회)  3743  3489  93.2

In [16]:
# DB 연결
myclient = MongoClient('218.150.247.209:2017',
                       username='unsik',
                       password='next1004',
                       authSource='admin',
                       authMechanism='SCRAM-SHA-256')

In [17]:
# DB 객체 불러오기 / DB가 없으면 생성
newDB = myclient['FriDB']

In [18]:
# 컬렉션 객체 불러오기 / 컬렉션이 없으면 생성
newCollection = newDB['DocPass']

In [28]:
test_list = []
for i in range(len(doc_pass.index)):
    test_year = doc_pass.iloc[i,0]
    test_apply = doc_pass.iloc[i,1]
    test_pass = doc_pass.iloc[i,2]
    test_pass_rate = doc_pass.iloc[i,3]
    dic_doc = {"년도":test_year, "응시인원":int(test_apply),"합격자 수":int(test_pass), "합격률":float(test_pass_rate)}
    test_list.append(dic_doc)

print(type(test_list))
print(type(test_list[0]))
print(type(test_list[0]['년도']))
print(type(test_list[0]['응시인원']))

<class 'list'>
<class 'dict'>
<class 'str'>
<class 'int'>

In [29]:
newCollection.insert_many(test_list)

In [14]:
# 테스트 데이터 생성
testDict = {"name":"unsik", "phone":"010-9792-0999"}
testDictList = [{"name":"unsik", "phone":"010-9792-0999"},{"name":"woosik", "phone":"010-1234-5678"}]
test = {'name':'eun', 'phone':'010-0000-0000'}

In [15]:
# 하나의 데이터만 삽입  / dict 타입
newCollection.insert_one(test)