In [51]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import connectDB
import pandas as pd
import plotly.graph_objects as go

# DB 연결
myclient = connectDB.connectDB()

myDB = myclient['FriDB']
popCol = myDB['Population']
popCol2 = myDB['Population2']
csdCol = myDB['CitySubjectDoc']

popDF = pd.DataFrame(popCol.find({}, {'_id': 0}))
csdDF = pd.DataFrame(csdCol.find({}, {'_id': 0}))

In [43]:
def makeFigure():
    
    
    fig = px.bar(csdDF,
                 x='값',
                 y='과목',
                 height=1000,
                 range_x=[0, 16000],
                 orientation='h',
                 color='지역',
                 animation_frame='년도'
                 )

    fig.update_layout(
        margin=dict(l=0, r=0, t=100, b=0),
        font=dict(family='Malgun Gothic', size=13, color='rgb(67, 67, 67)'),
        yaxis=dict(categoryorder='total ascending'),
        updatemenus=[{'buttons': [{'args': [None, {'frame': {'duration':
                                                             1000, 'redraw': True}, 'mode':
                                                   'immediate', 'fromcurrent':
                                                   True, 'transition':
                                                   {'duration': 1000, 'easing':
                                                       'quadratic-in-out'}}]}]}]
    )

    return fig

In [44]:
csdDF

         과목    년도  지역     값
0        내과  2005  서울  2266
1        내과  2005  부산   690
2        내과  2005  대구   489
3        내과  2005  인천   360
4        내과  2005  광주   316
...     ...   ...  ..   ...
6183  예방의학과  2018  전북     5
6184  예방의학과  2018  전남     7
6185  예방의학과  2018  경북    17
6186  예방의학과  2018  경남    11
6187  예방의학과  2018  제주     2

[6188 rows x 4 columns]

In [52]:
popDF = popDF[popDF['구분']=='계']
popDF = popDF[popDF['구간']=='총 인구수']
popDF

           행정기관코드       행정기관    년도     구간 구분       인구수
0               0         전국  2008  총 인구수  계  49540367
66     1100000000    서울특별시    2008  총 인구수  계  10200827
132    2600000000    부산광역시    2008  총 인구수  계   3564577
198    2700000000    대구광역시    2008  총 인구수  계   2492724
264    2800000000    인천광역시    2008  총 인구수  계   2692696
...           ...        ...   ...    ... ..       ...
13134  4500000000     전라북도    2019  총 인구수  계   2123709
13200  4600000000     전라남도    2019  총 인구수  계   1818917
13266  4700000000     경상북도    2019  총 인구수  계   1868745
13332  4800000000     경상남도    2019  총 인구수  계   2665836
13398  5000000000  제주특별자치도    2019  총 인구수  계   3362553

[204 rows x 6 columns]

In [53]:
popDF = pd.read_excel('data/1992_2019 행정구역 시군구별 성별 인구수.xlsx',thousands = ',')

FileNotFoundError: [Errno 2] No such file or directory: 'data/1992_2019 행정구역 시군구별 성별 인구수.xlsx'