In [39]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import connectDB
import pandas as pd
import plotly.graph_objects as go

# DB 연결
myclient = connectDB.connectDB()

myDB = myclient['FriDB']
newDB = myclient['newDB']
newCollection = newDB['DocPopData']


popDF = pd.read_csv('data/추계인구.csv', encoding='cp949')

popDF

     행정구분  성별    년도         값
0      서울   계  1970  5685932
1      서울   계  1971  5940442
2      서울   계  1972  6206625
3      서울   계  1973  6470497
4      서울   계  1974  6737832
...   ...  ..   ...       ...
3883   제주  여자  2043   392382
3884   제주  여자  2044   392503
3885   제주  여자  2045   392376
3886   제주  여자  2046   391993
3887   제주  여자  2047   391333

[3888 rows x 4 columns]

In [43]:
popDF.groupby(['년도','성별','행정구분']).sum()

                     값
년도   성별 행정구분
1970 계  강원    1913786
        경기    2636096
        경남    2794945
        경북    3373973
        광주     651380
...                ...
2047 여자 전남     797578
        전북     796979
        제주     391333
        충남    1127722
        충북     800008

[3888 rows x 1 columns]

In [31]:
docDataDF = pd.DataFrame(newCollection.find({},{'_id':0}))
docDataDF[(docDataDF.행정구분 == '세종')]
len(docDataDF[(docDataDF.행정구분 == '세1종')])

0

In [52]:
for year in range(1970, 2017):
    if len(docDataDF[(docDataDF.년도 == year)]):
        for i in range(len(docDataDF[(docDataDF.년도 == year)&(docDataDF.행정구분!='전국')])):
            local = docDataDF[(docDataDF.년도 == year)&(docDataDF.행정구분!='전국')].iloc[i,0]
            value = docDataDF[(docDataDF.년도 == year)&(docDataDF.행정구분!='전국')].iloc[i,0]
            popYearDF = popDF[(popDF.성별 == '계')&(popDF.년도==year)&(popDF.행정구분==local)].iloc[0,3]
            print(year, local, popYearDF)
        docDataDF[(docDataDF.년도 == year)]

1970 강원 1913786
1970 경기 2636096
1970 경남 2794945
1970 경북 3373973
1970 광주 651380
1970 대구 1294646
1970 대전 548414
1970 부산 2045828
1970 서울 5685932
1970 울산 282596
1970 인천 803730
1970 전남 3449700
1970 전북 2490827
1970 제주 373760
1970 충남 2379036
1970 충북 1516178
1970 강원 1913786
1970 경기 2636096
1970 경남 2794945
1970 경북 3373973
1970 광주 651380
1970 대구 1294646
1970 대전 548414
1970 부산 2045828
1970 서울 5685932
1970 울산 282596
1970 인천 803730
1970 전남 3449700
1970 전북 2490827
1970 제주 373760
1970 충남 2379036
1970 충북 1516178
1971 강원 1914127
1971 경기 2732577
1971 경남 2810010
1971 경북 3387836
1971 광주 672432
1971 대구 1344660
1971 대전 569050
1971 부산 2155433
1971 서울 5940442
1971 울산 299698
1971 인천 838028
1971 전남 3429961
1971 전북 2500550
1971 제주 383599
1971 충남 2378826
1971 충북 1525475
1971 강원 1914127
1971 경기 2732577
1971 경남 2810010
1971 경북 3387836
1971 광주 672432
1971 대구 1344660
1971 대전 569050
1971 부산 2155433
1971 서울 5940442
1971 울산 299698
1971 인천 838028
1971 전남 3429961
1971 전북 2500550
1971 제주 383599
1971 충남 2378826
1971 충북 1525475
1973 강원 1907958
1973 경기 2926725
1973 경남 2823575
1973 경북 3394925
1973 광주 713346
1973 대구 1445274
1973 대전 610596
1973 부산 2386209
1973 서울 6470497
1973 울산 335799
1973 인천 909047
1973 전남 3370108
1973 전북 2504720
1973 제주 401747
1973 충남 2365356
1973 충북 1537267
1973 강원 1907958
1973 경기 2926725
1973 경남 2823575
1973 경북 3394925
1973 광주 713346
1973 대구 1445274
1973 대전 610596
1973 부산 2386209
1973 서울 6470497
1973 울산 335799
1973 인천 909047
1973 전남 3370108
1973 전북 2504720
1973 제주 401747
1973 충남 2365356
1973 충북 1537267
1974 강원 1901603
1974 경기 3025206
1974 경남 2826093
1974 경북 3393581
1974 광주 732636
1974 대구 1494654
1974 대전 630981
1974 부산 2504899
1974 서울 6737832
1974 울산 355047
1974 인천 945093
1974 전남 3335012
1974 전북 2502135
1974 제주 410441
1974 충남 2355444
1974 충북 1541609
1974 강원 1901603
1974 경기 3025206
1974 경남 2826093
1974 경북 3393581
1974 광주 732636
1974 대구 1494654
1974 대전 630981
1974 부산 2504899
1974 서울 6737832
1974 울산 355047
1974 인천 945093
1974 전남 3335012
1974 전북 2502135
1974 제주 410441
1974 충남 2355444
1974 충북 1541609
1975 강원 1892974
1975 경기 3124725
1975 경남 2828890
1975 경북 3392694
1975 광주 751007
1975 대구 1543540
1975 대전 650941
1975 부산 2625143
1975 서울 7005007
1975 울산 374958
1975 인천 981336
1975 전남 3300224
1975 전북 2497939
1975 제주 419244
1975 충남 2345734
1975 충북 1546369
1975 강원 1892974
1975 경기 3124725
1975 경남 2828890
1975 경북 3392694
1975 광주 751007
1975 대구 1543540
1975 대전 650941
1975 부산 2625143
1975 서울 7005007
1975 울산 374958
1975 인천 981336
1975 전남 3300224
1975 전북 2497939
1975 제주 419244
1975 충남 2345734
1975 충북 1546369
1978 강원 1854385
1978 경기 3505494
1978 경남 2786474
1978 경북 3257090
1978 광주 825601
1978 대구 1749080
1978 대전 750442
1978 부산 3026409
1978 서울 7900077
1978 울산 469631
1978 인천 1138750
1978 전남 3106217
1978 전북 2401025
1978 제주 450426
1978 충남 2256934
1978 충북 1491150
1978 강원 1854385
1978 경기 3505494
1978 경남 2786474
1978 경북 3257090
1978 광주 825601
1978 대구 1749080
1978 대전 750442
1978 부산 3026409
1978 서울 7900077
1978 울산 469631
1978 인천 1138750
1978 전남 3106217
1978 전북 2401025
1978 제주 450426
1978 충남 2256934
1978 충북 1491150
1979 강원 1839084
1979 경기 3637154
1979 경남 2766722
1979 경북 3206925
1979 광주 849767
1979 대구 1818250
1979 대전 784747
1979 부산 3165516
1979 서울 8205097
1979 울산 505843
1979 인천 1194725
1979 전남 3039648
1979 전북 2365415
1979 제주 460944
1979 충남 2223976
1979 충북 1470423
1979 강원 1839084
1979 경기 3637154
1979 경남 2766722
1979 경북 3206925
1979 광주 849767
1979 대구 1818250
1979 대전 784747
1979 부산 3165516
1979 서울 8205097
1979 울산 505843
1979 인천 1194725
1979 전남 3039648
1979 전북 2365415
1979 제주 460944
1979 충남 2223976
1979 충북 1470423
1980 강원 1824032
1980 경기 3774067
1980 경남 2746366
1980 경북 3156810
1980 광주 873909
1980 대구 1888506
1980 대전 820076
1980 부산 3309338
1980 서울 8516450
1980 울산 545538
1980 인천 1253487
1980 전남 2974055
1980 전북 2329212
1980 제주 471639
1980 충남 2190545
1980 충북 1449745
1980 강원 1824032
1980 경기 3774067
1980 경남 2746366
1980 경북 3156810
1980 광주 873909
1980 대구 1888506
1980 대전 820076
1980 부산 3309338
1980 서울 8516450
1980 울산 545538
1980 인천 1253487
1980 전남 2974055
1980 전북 2329212
1980 제주 471639
1980 충남 2190545
1980 충북 1449745
1981 강원 1819806
1981 경기 3876181
1981 경남 2748595
1981 경북 3138992
1981 광주 913258
1981 대구 1940193
1981 대전 842954
1981 부산 3399677
1981 서울 8795571
1981 울산 571376
1981 인천 1314846
1981 전남 2936533
1981 전북 2318333
1981 제주 479074
1981 충남 2182226
1981 충북 1445633
1981 강원 1819806
1981 경기 3876181
1981 경남 2748595
1981 경북 3138992
1981 광주 913258
1981 대구 1940193
1981 대전 842954
1981 부산 3399677
1981 서울 8795571
1981 울산 571376
1981 인천 1314846
1981 전남 2936533
1981 전북 2318333
1981 제주 479074
1981 충남 2182226
1981 충북 1445633
1982 강원 1814259
1982 경기 4022714
1982 경남 2765095
1982 경북 3111394
1982 광주 953574
1982 대구 1995279
1982 대전 863535
1982 부산 3469299
1982 서울 9058650
1982 울산 597995
1982 인천 1365747
1982 전남 2899160
1982 전북 2312381
1982 제주 484397
1982 충남 2171701
1982 충북 1441172
1982 강원 1814259
1982 경기 4022714
1982 경남 2765095
1982 경북 3111394
1982 광주 953574
1982 대구 1995279
1982 대전 863535
1982 부산 3469299
1982 서울 9058650
1982 울산 597995
1982 인천 1365747
1982 전남 2899160
1982 전북 2312381
1982 제주 484397
1982 충남 2171701
1982 충북 1441172
1983 강원 1795868
1983 경기 4247247
1983 경남 2783622
1983 경북 3066542
1983 광주 991599
1983 대구 2046550
1983 대전 887444
1983 부산 3526625
1983 서울 9317088
1983 울산 625084
1983 인천 1412411
1983 전남 2848110
1983 전북 2290808
1983 제주 488896
1983 충남 2150917
1983 충북 1431592
1983 강원 1795868
1983 경기 4247247
1983 경남 2783622
1983 경북 3066542
1983 광주 991599
1983 대구 2046550
1983 대전 887444
1983 부산 3526625
1983 서울 9317088
1983 울산 625084
1983 인천 1412411
1983 전남 2848110
1983 전북 2290808
1983 제주 488896
1983 충남 2150917
1983 충북 1431592
1984 강원 1766197
1984 경기 4480444
1984 경남 2793154
1984 경북 3007934
1984 광주 1023089
1984 대구 2091406
1984 대전 918722
1984 부산 3580187
1984 서울 9558806
1984 울산 651499
1984 인천 1474260
1984 전남 2785929
1984 전북 2255009
1984 제주 491697
1984 충남 2111756
1984 충북 1415867
1984 강원 1766197
1984 경기 4480444
1984 경남 2793154
1984 경북 3007934
1984 광주 1023089
1984 대구 2091406
1984 대전 918722
1984 부산 3580187
1984 서울 9558806
1984 울산 651499
1984 인천 1474260
1984 전남 2785929
1984 전북 2255009
1984 제주 491697
1984 충남 2111756
1984 충북 1415867
1985 강원 1740348
1985 경기 4696641
1985 경남 2789644
1985 경북 2953958
1985 광주 1052558
1985 대구 2129426
1985 대전 951943
1985 부산 3627990
1985 서울 9725447
1985 울산 676257
1985 인천 1541084
1985 전남 2728625
1985 전북 2220652
1985 제주 493003
1985 충남 2075176
1985 충북 1402992
1985 강원 1740348
1985 경기 4696641
1985 경남 2789644
1985 경북 2953958
1985 광주 1052558
1985 대구 2129426
1985 대전 951943
1985 부산 3627990
1985 서울 9725447
1985 울산 676257
1985 인천 1541084
1985 전남 2728625
1985 전북 2220652
1985 제주 493003
1985 충남 2075176
1985 충북 1402992
1986 강원 1720598
1986 경기 5001303
1986 경남 2783433
1986 경북 2906873
1986 광주 1062312
1986 대구 2162263
1986 대전 964457
1986 부산 3671462
1986 서울 9815245
1986 울산 686049
1986 인천 1592771
1986 전남 2701267
1986 전북 2188385
1986 제주 494543
1986 충남 2065757
1986 충북 1396956
1986 강원 1720598
1986 경기 5001303
1986 경남 2783433
1986 경북 2906873
1986 광주 1062312
1986 대구 2162263
1986 대전 964457
1986 부산 3671462
1986 서울 9815245
1986 울산 686049
1986 인천 1592771
1986 전남 2701267
1986 전북 2188385
1986 제주 494543
1986 충남 2065757
1986 충북 1396956
1987 강원 1692120
1987 경기 5291325
1987 경남 2773779
1987 경북 2866626
1987 광주 1068550
1987 대구 2195733
1987 대전 973775
1987 부산 3724562
1987 서울 9931649
1987 울산 703284
1987 인천 1646661
1987 전남 2659003
1987 전북 2152542
1987 제주 496140
1987 충남 2055673
1987 충북 1390268
1987 강원 1692120
1987 경기 5291325
1987 경남 2773779
1987 경북 2866626
1987 광주 1068550
1987 대구 2195733
1987 대전 973775
1987 부산 3724562
1987 서울 9931649
1987 울산 703284
1987 인천 1646661
1987 전남 2659003
1987 전북 2152542
1987 제주 496140
1987 충남 2055673
1987 충북 1390268
1988 강원 1653464
1988 경기 5499098
1988 경남 2768387
1988 경북 2822774
1988 광주 1078519
1988 대구 2229908
1988 대전 984042
1988 부산 3773138
1988 서울 10147107
1988 울산 730661
1988 인천 1709667
1988 전남 2599288
1988 전북 2116257
1988 제주 498608
1988 충남 2039638
1988 충북 1380691
1988 강원 1653464
1988 경기 5499098
1988 경남 2768387
1988 경북 2822774
1988 광주 1078519
1988 대구 2229908
1988 대전 984042
1988 부산 3773138
1988 서울 10147107
1988 울산 730661
1988 인천 1709667
1988 전남 2599288
1988 전북 2116257
1988 제주 498608
1988 충남 2039638
1988 충북 1380691
1989 강원 1607158
1989 경기 5690707
1989 경남 2764700
1989 경북 2774467
1989 광주 1099843
1989 대구 2266543
1989 대전 1003113
1989 부산 3803288
1989 서울 10379344
1989 울산 762359
1989 인천 1784715
1989 전남 2538596
1989 전북 2080489
1989 제주 502424
1989 충남 2017902
1989 충북 1373390
1989 강원 1607158
1989 경기 5690707

1989 경남 2764700
1989 경북 2774467
1989 광주 1099843
1989 대구 2266543
1989 대전 1003113
1989 부산 3803288
1989 서울 10379344
1989 울산 762359
1989 인천 1784715
1989 전남 2538596
1989 전북 2080489
1989 제주 502424
1989 충남 2017902
1989 충북 1373390
1990 강원 1561838
1990 경기 5972092
1990 경남 2776273
1990 경북 2736033
1990 광주 1124968
1990 대구 2293038
1990 대전 1035986
1990 부산 3803334
1990 서울 10473252
1990 울산 794065
1990 인천 1896801
1990 전남 2480439
1990 전북 2046776
1990 제주 508746
1990 충남 1991931
1990 충북 1373711
1990 강원 1561838
1990 경기 5972092
1990 경남 2776273
1990 경북 2736033
1990 광주 1124968
1990 대구 2293038
1990 대전 1035986
1990 부산 3803334
1990 서울 10473252
1990 울산 794065
1990 인천 1896801
1990 전남 2480439
1990 전북 2046776
1990 제주 508746
1990 충남 1991931
1990 충북 1373711
1991 강원 1546504
1991 경기 6294496
1991 경남 2805601
1991 경북 2732475
1991 광주 1154456
1991 대구 2332235
1991 대전 1083721
1991 부산 3816713
1991 서울 10461122
1991 울산 829234
1991 인천 1979437
1991 전남 2395539
1991 전북 2022381
1991 제주 509537
1991 충남 1949365
1991 충북 1382888
1991 강원 1546504
1991 경기 6294496
1991 경남 2805601
1991 경북 2732475
1991 광주 1154456
1991 대구 2332235
1991 대전 1083721
1991 부산 3816713
1991 서울 10461122
1991 울산 829234
1991 인천 1979437
1991 전남 2395539
1991 전북 2022381
1991 제주 509537
1991 충남 1949365
1991 충북 1382888
1992 강원 1531591
1992 경기 6634393
1992 경남 2834597
1992 경북 2728374
1992 광주 1184604
1992 대구 2370971
1992 대전 1133067
1992 부산 3829348
1992 서울 10445852
1992 울산 865654
1992 인천 2065278
1992 전남 2315133
1992 전북 1998601
1992 제주 510474
1992 충남 1908054
1992 충북 1391971
1992 강원 1531591
1992 경기 6634393
1992 경남 2834597
1992 경북 2728374
1992 광주 1184604
1992 대구 2370971
1992 대전 1133067
1992 부산 3829348
1992 서울 10445852
1992 울산 865654
1992 인천 2065278
1992 전남 2315133
1992 전북 1998601
1992 제주 510474
1992 충남 1908054
1992 충북 1391971
1993 강원 1515652
1993 경기 6987963
1993 경남 2861211
1993 경북 2721551
1993 광주 1214505
1993 대구 2407544
1993 대전 1183308
1993 부산 3839022
1993 서울 10420119
1993 울산 902858
1993 인천 2153047
1993 전남 2236940
1993 전북 1973714
1993 제주 511126
1993 충남 1866413
1993 충북 1399655
1993 강원 1515652
1993 경기 6987963
1993 경남 2861211
1993 경북 2721551
1993 광주 1214505
1993 대구 2407544
1993 대전 1183308
1993 부산 3839022
1993 서울 10420119
1993 울산 902858
1993 인천 2153047
1993 전남 2236940
1993 전북 1973714
1993 제주 511126
1993 충남 1866413
1993 충북 1399655
1994 강원 1498849
1994 경기 7355945
1994 경남 2885857
1994 경북 2712646
1994 광주 1244187
1994 대구 2442258
1994 대전 1234568
1994 부산 3846467
1994 서울 10385314
1994 울산 940877
1994 인천 2242714
1994 전남 2161269
1994 전북 1948022
1994 제주 511518
1994 충남 1824910
1994 충북 1406139
1994 강원 1498849
1994 경기 7355945
1994 경남 2885857
1994 경북 2712646
1994 광주 1244187
1994 대구 2442258
1994 대전 1234568
1994 부산 3846467
1994 서울 10385314
1994 울산 940877
1994 인천 2242714
1994 전남 2161269
1994 전북 1948022
1994 제주 511518
1994 충남 1824910
1994 충북 1406139
1995 강원 1481781
1995 경기 7737864
1995 경남 2908813
1995 경북 2702465
1995 광주 1273532
1995 대구 2475360
1995 대전 1286844
1995 부산 3852295
1995 서울 10342224
1995 울산 979606
1995 인천 2333769
1995 전남 2088701
1995 전북 1921970
1995 제주 511640
1995 충남 1784205
1995 충북 1411922
1995 강원 1481781
1995 경기 7737864
1995 경남 2908813
1995 경북 2702465
1995 광주 1273532
1995 대구 2475360
1995 대전 1286844
1995 부산 3852295
1995 서울 10342224
1995 울산 979606
1995 인천 2333769
1995 전남 2088701
1995 전북 1921970
1995 제주 511640
1995 충남 1784205
1995 충북 1411922
1996 강원 1483026
1996 경기 8131905
1996 경남 2943238
1996 경북 2724100
1996 광주 1292483
1996 대구 2488905
1996 대전 1315028
1996 부산 3826168
1996 서울 10195359
1996 울산 998430
1996 인천 2375816
1996 전남 2077343
1996 전북 1923449
1996 제주 513926
1996 충남 1804044
1996 충북 1431461
1996 강원 1483026
1996 경기 8131905
1996 경남 2943238
1996 경북 2724100
1996 광주 1292483
1996 대구 2488905
1996 대전 1315028
1996 부산 3826168
1996 서울 10195359
1996 울산 998430
1996 인천 2375816
1996 전남 2077343
1996 전북 1923449
1996 제주 513926
1996 충남 1804044
1996 충북 1431461
1997 강원 1489229
1997 경기 8449371
1997 경남 2975321
1997 경북 2745318
1997 광주 1317015
1997 대구 2495979
1997 대전 1338886
1997 부산 3803326
1997 서울 10115549
1997 울산 1015754
1997 인천 2421017
1997 전남 2065371
1997 전북 1922565
1997 제주 516212
1997 충남 1831009
1997 충북 1451658
1997 강원 1489229
1997 경기 8449371
1997 경남 2975321
1997 경북 2745318
1997 광주 1317015
1997 대구 2495979
1997 대전 1338886
1997 부산 3803326
1997 서울 10115549
1997 울산 1015754
1997 인천 2421017
1997 전남 2065371
1997 전북 1922565
1997 제주 516212
1997 충남 1831009
1997 충북 1451658
1998 강원 1501714
1998 경기 8681978
1998 경남 3000399
1998 경북 2759045
1998 광주 1340506
1998 대구 2502146
1998 대전 1358370
1998 부산 3775121
1998 서울 10051237
1998 울산 1023077
1998 인천 2464340
1998 전남 2060842
1998 전북 1924972
1998 제주 519160
1998 충남 1854333
1998 충북 1469263
1998 강원 1501714
1998 경기 8681978
1998 경남 3000399
1998 경북 2759045
1998 광주 1340506
1998 대구 2502146
1998 대전 1358370
1998 부산 3775121
1998 서울 10051237
1998 울산 1023077
1998 인천 2464340
1998 전남 2060842
1998 전북 1924972
1998 제주 519160
1998 충남 1854333
1998 충북 1469263
1999 강원 1512746
1999 경기 8892806
1999 경남 3020469
1999 경북 2770743
1999 광주 1361160
1999 대구 2511610
1999 대전 1377545
1999 부산 3752322
1999 서울 10035810
1999 울산 1026735
1999 인천 2494341
1999 전남 2055210
1999 전북 1929570
1999 제주 522398
1999 충남 1869746
1999 충북 1483466
1999 강원 1512746
1999 경기 8892806
1999 경남 3020469
1999 경북 2770743
1999 광주 1361160
1999 대구 2511610
1999 대전 1377545
1999 부산 3752322
1999 서울 10035810
1999 울산 1026735
1999 인천 2494341
1999 전남 2055210
1999 전북 1929570
1999 제주 522398
1999 충남 1869746
1999 충북 1483466
2000 강원 1515605
2000 경기 9146445
2000 경남 3035571
2000 경북 2773340
2000 광주 1382426
2000 대구 2528863
2000 대전 1396869
2000 부산 3732630
2000 서울 10078434
2000 울산 1035658
2000 인천 2522462
2000 전남 2034970
2000 전북 1927005
2000 제주 524182
2000 충남 1879274
2000 충북 1494377
2000 강원 1515605
2000 경기 9146445
2000 경남 3035571
2000 경북 2773340
2000 광주 1382426
2000 대구 2528863
2000 대전 1396869
2000 부산 3732630
2000 서울 10078434
2000 울산 1035658
2000 인천 2522462
2000 전남 2034970
2000 전북 1927005
2000 제주 524182
2000 충남 1879274
2000 충북 1494377
2001 강원 1516664
2001 경기 9451079
2001 경남 3047627
2001 경북 2756966
2001 광주 1401954
2001 대구 2535374
2001 대전 1417579
2001 부산 3716425
2001 서울 10091137
2001 울산 1046883
2001 인천 2550919
2001 전남 2011610
2001 전북 1916308
2001 제주 528553
2001 충남 1881811
2001 충북 1499275

IndexError: single positional indexer is out-of-bounds