In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_row', 1200)
pd.set_option('display.max_columns', 100)

In [100]:
# 1950~2067년
examResult = (pd.read_excel('output.xlsx'))

In [101]:
examResult1 = examResult[examResult['연도']==2020]

In [106]:
examResult2 = examResult1[examResult1['직종']!='의사']

In [107]:
examResult3 = examResult2[examResult2['성별']=='남']

In [108]:
examResult4 = examResult3[['연령대','값']].groupby(['연령대']).mean()

In [112]:
np.array(examResult4).T[0]

array([1.1985e+03, 6.7000e+02, 1.3500e+01, 1.0000e+00])

In [117]:
resultList = [[],[]]
for i in range(2001,2021):
    examResult1 = examResult[examResult['연도']==i]
    examResult2 = examResult1[examResult1['성별']=='남']
    examResult3 = examResult2[['연령대','값']].groupby(['연령대']).mean()
    resultList[0].append(np.around(np.array(examResult3).T[0]))
for i in range(2001,2021):
    examResult1 = examResult[examResult['연도']==i]
    examResult2 = examResult1[examResult1['성별']=='여']
    examResult3 = examResult2[['연령대','값']].groupby(['연령대']).mean()
    resultList[0].append(np.around(np.array(examResult3).T[0]))
resultList

[[array([1723,  274,    7]),
  array([2060,  349,   10,    2]),
  array([1908,  306,    5]),
  array([2200,  497,   19]),
  array([1955,  336,    7]),
  array([1803,  382,    4]),
  array([1758,  347,    6,    1]),
  array([2076,  483,   22,    5]),
  array([1848,  352,   14]),
  array([1.574e+03, 5.420e+02, 2.800e+01, 1.000e+00]),
  array([1525.,  501.,   28.,    2.]),
  array([1.624e+03, 5.140e+02, 1.800e+01, 1.000e+00]),
  array([1164.,  646.,   13.,    2.]),
  array([1.206e+03, 6.780e+02, 1.600e+01, 1.000e+00]),
  array([1.219e+03, 6.960e+02, 2.200e+01, 1.000e+00]),
  array([1.246e+03, 6.550e+02, 1.200e+01, 1.000e+00]),
  array([1.278e+03, 6.640e+02, 2.100e+01, 1.000e+00]),
  array([1.342e+03, 6.550e+02, 1.600e+01, 2.000e+00, 1.000e+00]),
  array([1.378e+03, 5.820e+02, 1.200e+01, 1.000e+00, 1.000e+00]),
  array([1.198e+03, 6.700e+02, 1.400e+01, 1.000e+00]),
  array([744,  46,   2]),
  array([816,  76,   1]),
  array([847,  92,   1]),
  array([932, 108,   3]),
  array([973, 100,   1]),
  array([1144,  154,    1]),
  array([1068,  123,    2]),
  array([1129,  166,    6]),
  array([1104,  189,    3]),
  array([838., 330.,   6.,   1.]),
  array([778., 268.,  10.,   1.]),
  array([718., 330.,   2.,   2.]),
  array([716., 496.,  14.,   2.]),
  array([744., 542.,  12.]),
  array([740., 444.,  10.,   2.]),
  array([773, 442,   4,   1]),
  array([760., 396.,   1.]),
  array([768., 398.,   7.,   1.]),
  array([777., 375.,   6.,   1.]),
  array([708., 438.,   7.,   1.])],
 []]