In [8]:
import pandas as pd
import connectDB

# DB 연결
myclient = connectDB.connectDB()

myDB = myclient['FriDB']
myCol = myDB['MedicalPersonData']

In [19]:
dataDF = pd.DataFrame(myCol.find({},{'_id':0}))

In [29]:
newDataDF = dataDF
newDataDF = newDataDF[newDataDF['년도']==1967]
newDataDF = newDataDF[newDataDF['데이터구분']=='인원수']
newDataDF = newDataDF[(newDataDF.직종구분 == '상근의사')|(newDataDF.직종구분 == '비상근의사')|(newDataDF.직종구분 == '한의사')|(newDataDF.직종구분 == '의사')]
newDataDF

         년도 행정구분 직종구분 데이터구분       값
609    1967   강원   의사   인원수     0.0
899    1967   강원  한의사   인원수     0.0
1653   1967   경기   의사   인원수     0.0
1943   1967   경기  한의사   인원수     0.0
2697   1967   경남   의사   인원수     0.0
2987   1967   경남  한의사   인원수     0.0
3741   1967   경북   의사   인원수     0.0
4031   1967   경북  한의사   인원수     0.0
4785   1967   광주   의사   인원수     0.0
5075   1967   광주  한의사   인원수     0.0
5829   1967   대구   의사   인원수     0.0
6119   1967   대구  한의사   인원수     0.0
6873   1967   대전   의사   인원수     0.0
7163   1967   대전  한의사   인원수     0.0
7917   1967   부산   의사   인원수   821.0
8207   1967   부산  한의사   인원수   189.0
8961   1967   서울   의사   인원수  1903.0
9251   1967   서울  한의사   인원수   808.0
9657   1967   울산   의사   인원수     0.0
9831   1967   울산  한의사   인원수     0.0
10527  1967   인천   의사   인원수     0.0
10817  1967   인천  한의사   인원수     0.0
11571  1967   전남   의사   인원수     0.0
11861  1967   전남  한의사   인원수     0.0
12615  1967   전북   의사   인원수     0.0
12905  1967   전북  한의사   인원수     0.0
13659  1967   제주   의사   인원수     0.0
13949  1967   제주  한의사   인원수     0.0
14703  1967   충남   의사   인원수     0.0
14993  1967   충남  한의사   인원수     0.0
15747  1967   충북   의사   인원수     0.0
16037  1967   충북  한의사   인원수     0.0

In [28]:
newDataDF = dataDF
newDataDF = newDataDF[newDataDF['데이터구분']=='인원수']
newDataDF = newDataDF[(newDataDF.직종구분 == '상근의사')|(newDataDF.직종구분 == '비상근의사')|(newDataDF.직종구분 == '한의사')|(newDataDF.직종구분 == '의사')]
newDataDF.reset_index()

      index    년도 행정구분   직종구분 데이터구분        값
0       609  1967   강원     의사   인원수      0.0
1       610  1970   강원     의사   인원수      0.0
2       611  1971   강원     의사   인원수      0.0
3       612  1973   강원     의사   인원수      0.0
4       613  1974   강원     의사   인원수      0.0
...     ...   ...  ...    ...   ...      ...
1808  21263  2016   합계   상근의사   인원수  97352.0
1809  21275  2016   합계    한의사   인원수  18506.0
1810  21284  2017   합계  비상근의사   인원수    236.0
1811  21286  2017   합계   상근의사   인원수  96923.0
1812  21298  2017   합계    한의사   인원수  19758.0

[1813 rows x 6 columns]