In [20]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import connectDB
import pandas as pd
import plotly.graph_objects as go

# DB 연결
myclient = connectDB.connectDB()

myDB = myclient['FriDB']
popCol = myDB['population3']

In [19]:
dataDf = pd.read_excel('인구데이터 통합.xlsx',thousands = ',')

In [54]:
resultList = []


for i in range(len(dataDf.index)):
    newDict = {'년도':int(dataDf.iloc[i,0]), '연령':int(dataDf.iloc[i,1]), '성별':'남','값':int(dataDf.iloc[i,2])}
    resultList.append(newDict)
    newDict = {'년도':int(dataDf.iloc[i,0]), '연령':int(dataDf.iloc[i,1]), '성별':'여','값':int(dataDf.iloc[i,3])}
    resultList.append(newDict)

In [55]:
popCol.insert_many(resultList)

In [51]:
data = pd.DataFrame(resultList).groupby(['년도','성별']).sum()
data = data.reset_index()
data

       년도 성별    연령         값
0    1960  남  3160  12529599
1    1960  여  3160  12423593
2    1961  남  3160  12913686
3    1961  여  3160  12786593
4    1962  남  3160  13297328
..    ... ..   ...       ...
211  2065  여  5050  20347764
212  2066  남  5050  19699346
213  2066  여  5050  20093039
214  2067  남  5050  19453869
215  2067  여  5050  19839958

[216 rows x 4 columns]