In [9]:
import pandas as pd
import matplotlib.pyplot as plt
data_df = pd.read_excel('../../data/정리데이터.xlsx')

In [12]:
data_df[data_df['년도']==2010]

,년도,비고,회차,횟수,의사고시\n접수인원,의사고시\n결시인원,의사고시\n응시자수,의사고시 합격자수,의사고시\n합격률,의사고시\n응시자\n불합격자수,...,예과/4학년/계,예과/4학년/여,1학년/계,1학년/여,2학년/계,2학년/여,3학년/계,3학년/여,4학년/계,4학년/여
60,2010,NaN,74.0,1.0,3481.0,12.0,3469.0,3224.0,92.937446,245.0,...,NaN,NaN,3736.0,1055.0,3368.0,875.0,2518.0,628.0,2610.0,721.0