In [2]:
import pymongo
from pymongo import MongoClient
import pandas as pd

In [3]:
# DB 연결
myclient = MongoClient('218.150.247.209:2017',
                       username='unsik',
                       password='next1004',
                       authSource='admin',
                       authMechanism='SCRAM-SHA-256')

In [4]:
# DB 객체 불러오기 / DB가 없으면 생성
newDB = myclient['TestDB']

In [5]:
# 컬렉션 객체 불러오기 / 컬렉션이 없으면 생성
newCollection = newDB['TestCollection']

In [6]:
local_doc = pd.read_excel('data/local_doc_1000.xlsx',thousands = ',')
mayjor_doc =  pd.read_excel('data/mayjor_doc.xlsx',thousands = ',')

In [7]:
local_doc

,year,합계,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,2013,1.773708,2.667187,2.027421,2.044301,1.366770,2.112824,2.117678,1.296175,0.785900,1.396773,1.558100,1.389938,1.350829,1.750700,1.500127,1.245443,1.383998,1.583009
1,2014,1.810457,2.718437,2.085866,2.083614,1.435605,2.164127,2.158885,1.322043,0.794235,1.419586,1.603815,1.423113,1.384395,1.790485,1.514865,1.282586,1.434815,1.582294
2,2015,1.845085,2.766464,2.145270,2.144440,1.487107,2.236111,2.237988,1.391523,0.753969,1.445785,1.625678,1.460903,1.403028,1.859111,1.543220,1.270152,1.460456,1.635183
3,2016,1.890138,2.838595,2.182917,2.211662,1.518483,2.337304,2.281477,1.451842,0.740594,1.481979,1.660427,1.500982,1.428417,1.888684,1.597761,1.301660,1.547481,1.631865
4,2017,1.935956,2.916177,2.228687,2.243023,1.588582,2.389037,2.359830,1.483952,0.853267,1.525723,1.695974,1.515900,1.459299,1.940034,1.628855,1.332612,1.582947,1.692328
5,2018,1.977210,3.008308,2.281594,2.323939,1.656038,2.430557,2.435675,1.493567,0.859528,1.556531,1.724504,1.545723,1.464528,1.970240,1.638900,1.351972,1.598109,1.704160
6,2019,2.037190,3.120430,2.345745,2.423267,1.714899,2.511555,2.526324,1.527849,0.886736,1.602004,1.763864,1.580618,1.505856,2.028130,1.673851,1.373678,1.645179,1.751146
7,2020,2.081946,3.213453,2.401890,2.463113,1.753700,2.540309,2.554050,1.544317,0.935974,1.649800,1.803089,1.595583,1.526513,2.031438,1.699258,1.382845,1.677045,1.757558

In [6]:
# 테스트 데이터 생성

test_list = []
for i in range(len(doc_pass.index)):
    test_year = doc_pass.iloc[i,0]
    test_apply = doc_pass.iloc[i,1]
    test_pass = doc_pass.iloc[i,2]
    test_pass_rate = doc_pass.iloc[i,3]
    dic_doc = {"년도":test_year, "응시인원":int(test_apply),"합격자 수":int(test_pass), "합격률":float(test_pass_rate)}
    test_list.append(dic_doc)

print(type(test_list))
print(type(test_list[0]))
print(type(test_list[0]['년도']))
print(type(test_list[0]['응시인원']))

In [7]:
# 하나의 데이터만 삽입  / dict 타입
newCollection.insert_one(test)

In [8]:
# 다수의 데이터 삽입 / dict가 들어있는 list 타입
newCollection.insert_many(testDictList)

In [16]:
# 하나의 Document만 불러오기
print(newCollection.find_one({"name":"unsik"}))
print(newCollection.find_one({'name':'eun'}))

{'_id': ObjectId('5f5a09946ba057a8f92b2ee1'), 'name': 'unsik', 'phone': '010-9792-0999'}
{'_id': ObjectId('5f5a14bb420bb76a4848af39'), 'name': 'eun', 'phone': '010-0000-0000'}

In [1]:
# 다수의 Document 불러오기
for data in newCollection.find({'name':'eun'}):
    print(data)

NameError: name 'newCollection' is not defined