In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import numpy as np
import pandas as pd
import plotly.graph_objects as go

In [2]:
doc_tot = pd.read_excel('시도별 의료인력 현황.xlsx')
doc_tot

,시도별,의료인력별,항목,단위,2008 년,2009 년,2010 년,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년
0,계,계,의료인력[명],명,164843,171890,278789.0,304705,310764,332660,351550.0,368954.0,398223,414196,430795.0
1,계,의사,의료인력[명],명,75167,78675,78325.0,84544,86761,90710,92927.0,95076.0,97713,100241,102471.0
2,계,일반의,의료인력[명],명,5142,5555,5217.0,5646,4934,4899,4854.0,4790.0,5061,5246,5557.0
3,계,인턴,의료인력[명],명,2945,2850,2649.0,2890,2745,2864,2734.0,2829.0,2766,2743,2777.0
4,계,레지던트,의료인력[명],명,11052,11413,11737.0,11547,11508,12338,12229.0,11907.0,11604,11211,10990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,제주,간호사,의료인력[명],명,NaN,NaN,1751.0,1788,1620,1998,2107.0,2231.0,2372,2467,2590.0
302,제주,약사,의료인력[명],명,299,314,299.0,332,344,361,370.0,378.0,387,424,452.0
303,제주,물리치료사,의료인력[명],명,282,292,296.0,317,346,374,403.0,420.0,452,484,526.0
304,제주,작업치료사,의료인력[명],명,28,28,33.0,42,46,58,60.0,70.0,68,78,78.0
305,제주,사회복지사,의료인력[명],명,22,21,19.0,20,24,24,26.0,29.0,32,32,38.0

In [3]:
doc_tot = doc_tot.iloc[1:2]
doc_tot= doc_tot.T

In [4]:
doc_tot = dox_tot = doc_tot.iloc[4:]
doc_tot.reset_index(inplace = True)

In [5]:
doc_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   11 non-null     object
 1   1       11 non-null     object
dtypes: object(2)
memory usage: 304.0+ bytes

In [6]:
doc_tot.columns = ['year', 'total']
doc_tot

      year   total
0   2008 년   75167
1   2009 년   78675
2   2010 년   78325
3   2011 년   84544
4   2012 년   86761
5   2013 년   90710
6   2014 년   92927
7   2015 년   95076
8   2016 년   97713
9   2017 년  100241
10  2018 년  102471

In [7]:
def del_year():
    a = ['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']
    for i in range(0, 11):
        doc_tot.iloc[i,0] = a[i]
    return 0
del_year()
print(doc_tot)

    year   total
0   2008   75167
1   2009   78675
2   2010   78325
3   2011   84544
4   2012   86761
5   2013   90710
6   2014   92927
7   2015   95076
8   2016   97713
9   2017  100241
10  2018  102471

In [8]:
doc_tot.info()
doc_tot = doc_tot.astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    11 non-null     object
 1   total   11 non-null     object
dtypes: object(2)
memory usage: 304.0+ bytes

In [9]:
doc_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    11 non-null     int32
 1   total   11 non-null     int32
dtypes: int32(2)
memory usage: 216.0 bytes

In [10]:
new_doc = pd.read_excel('의사 국가시험 최종 합격자.xlsx')
new_doc = new_doc[::-1]
new_doc['회차'] = [2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]
new_doc.columns = ['year', 'apply','pass','passrate']
new_doc

    year  apply  pass  passrate
14  2006   3743  3489      93.2
13  2007   3735  3305      88.5
12  2008   4028  3887      96.5
11  2009   3750  3510      93.6
10  2010   3469  3224      92.9
9   2011   3376  3095      91.7
8   2012   3446  3208      93.1
7   2013   3287  3032      92.2
6   2014   3412  3200      93.8
5   2015   3392  3125      94.6
4   2016   3323  3106      93.5
3   2017   3336  3095      92.8
2   2018   3373  3204      95.0
1   2019   3307  3115      94.2
0   2020   3210  3025      94.2

In [11]:
doc = pd.merge(doc_tot, new_doc, on = 'year' , how='left')
doc = doc[['year', 'total', 'pass']]
doc['reduce'] = np.nan
doc

    year   total  pass  reduce
0   2008   75167  3887     NaN
1   2009   78675  3510     NaN
2   2010   78325  3224     NaN
3   2011   84544  3095     NaN
4   2012   86761  3208     NaN
5   2013   90710  3032     NaN
6   2014   92927  3200     NaN
7   2015   95076  3125     NaN
8   2016   97713  3106     NaN
9   2017  100241  3095     NaN
10  2018  102471  3204     NaN

In [12]:
def reduce_doc():
    for i in range(0, 10):
        doc.iloc[i+1, 3] = doc.iloc[i+1, 1]-doc.iloc[i,1]-doc.iloc[i+1,2]
    return 0
reduce_doc()
doc

    year   total  pass  reduce
0   2008   75167  3887     NaN
1   2009   78675  3510    -2.0
2   2010   78325  3224 -3574.0
3   2011   84544  3095  3124.0
4   2012   86761  3208  -991.0
5   2013   90710  3032   917.0
6   2014   92927  3200  -983.0
7   2015   95076  3125  -976.0
8   2016   97713  3106  -469.0
9   2017  100241  3095  -567.0
10  2018  102471  3204  -974.0

In [13]:
year = doc['year'].iloc[1:, ]
year

1     2009
2     2010
3     2011
4     2012
5     2013
6     2014
7     2015
8     2016
9     2017
10    2018
Name: year, dtype: int32

In [14]:
doc_pass = doc['pass'].iloc[1:,]
doc_pass
print(list(doc_pass))

[3510, 3224, 3095, 3208, 3032, 3200, 3125, 3106, 3095, 3204]

In [15]:
y_value = doc['reduce'].iloc[1:,]
y_value

1       -2.0
2    -3574.0
3     3124.0
4     -991.0
5      917.0
6     -983.0
7     -976.0
8     -469.0
9     -567.0
10    -974.0
Name: reduce, dtype: float64

In [16]:
inver_y_val = -y_value
inver_y_val

1        2.0
2     3574.0
3    -3124.0
4      991.0
5     -917.0
6      983.0
7      976.0
8      469.0
9      567.0
10     974.0
Name: reduce, dtype: float64

In [18]:
import plotly.graph_objects as go

years = list(year)
doc_pass = list(doc_pass)
y_val = list(y_value)
inver_y_val = list(inver_y_val)


fig = go.Figure()
fig.add_trace(go.Bar(x=years, y = doc_pass,
                base=0,
                marker_color='crimson',
                name='increase'))
fig.add_trace(go.Bar(x= years, y=y_value,
                base = inver_y_val,
                marker_color='lightslategrey',
                name='decrease'
                ))

fig.show()